.table {
  width: 1000px;
  border-collapse: collapse;
  margin: 50px auto 100px;
}

.table__caption {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700px;
}

.table__item {
  padding: 1rem;
}

.table__row:nth-of-type(2n) {
  background-color: #eaeaea;
}

.table__item_type_head {
  text-align: left;
}

.table__item_type_date {
  cursor: pointer;
}

.table__item_type_date:hover {
  background-color: #eaeaea;
}

.table__image {
  width: 200px;
  height: 200px;
}